@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: Lato;
}

.title-block {
  background: url("../img/title-block/bgheader.png") 0 0/cover no-repeat;
}
.title-block__content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 900px) {
  .title-block__content {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .title-block__content {
    max-width: none;
  }
}
.title-block__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.title-block__logo {
  padding: 165px 0 160px 0;
}
.title-block__main-title {
  font-size: 34px;
  letter-spacing: 5px;
  line-height: 40px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 900;
  text-align: center;
}
.title-block__sub-title {
  font-size: 22px;
  letter-spacing: 5px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
}
.title-block__sub-title::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 105px;
  margin: 48px auto 226px auto;
  height: 2px;
  background-color: #fff;
}
.title-block__bottom {
  padding-bottom: 153px;
}
.title-block__bottom::after {
  content: url("../img/icons/title/arrowdown.svg");
  margin-top: 72px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.title-block__button {
  max-width: 190px;
  margin: 0 auto;
}
.title-block__link {
  padding: 15px 39px 18px 42px;
}

.button {
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  padding: 18px 42px;
}
.button_white {
  color: #ffffff;
  border: 1px solid #fff;
}
.button_black {
  color: #000;
  border: 1px solid #000;
}

.menu {
  -webkit-box-shadow: 0 2px 0 rgba(242, 242, 242, 0.5019607843);
          box-shadow: 0 2px 0 rgba(242, 242, 242, 0.5019607843);
}
.menu__body {
  max-width: 425px;
  padding: 0 15px;
  margin: 0 auto 130px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 58px;
}

.link {
  display: inline-block;
  font-size: 15px;
  color: #3c3c3c;
  font-weight: 700;
  text-transform: uppercase;
}
.link_brown {
  display: inline-block;
  font-size: 15px;
  color: #b1a57b;
  font-weight: 700;
  text-transform: uppercase;
}

.about__content {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 900px) {
  .about__content {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .about__content {
    max-width: none;
  }
}
.about__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-size: 14px;
  max-width: 680px;
  line-height: 26px;
  color: #8e8d8d;
  font-weight: 300;
  text-align: center;
  margin-top: 37px;
  margin-bottom: 69px;
}
.about__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.title {
  font-size: 34px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
  text-align: center;
}
.title::after {
  content: "";
  max-width: 81px;
  height: 1px;
  background-color: #000000;
  margin: 34px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.column {
  height: 265px;
  -ms-flex-preferred-size: 265px;
      flex-basis: 265px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 95px auto;
}
.column__image {
  margin: 0px auto;
  width: 92px;
  height: 92px;
  display: block;
}
.column__title {
  display: block;
  font-size: 22px;
  letter-spacing: 4px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  margin: 41px auto 35px auto;
}
.column__subtitle {
  display: block;
  line-height: 26px;
  font-size: 14px;
  color: #868585;
  font-weight: 300;
  text-align: center;
}

.portfolio {
  background-color: #f3f3f3;
}
.portfolio__body {
  max-width: 1135px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1135px) {
  .portfolio__body {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .portfolio__body {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .portfolio__body {
    max-width: none;
  }
}
.portfolio__top {
  padding: 107px 0 0 0;
}
.portfolio__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 330px;
  margin: 0 auto;
}
.portfolio__link {
  margin: 50px auto 0 auto;
}
.portfolio__images {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 135px auto 47px auto;
}
.portfolio__example {
  max-width: 100%;
  margin: 0 auto 18px auto;
}
.portfolio__bottom {
  padding: 0 0 65px 0;
}
.portfolio__button {
  max-width: 190px;
  margin: 0 auto;
}

.partners {
  background: url("../img/partners/bgheadercopy.png") center no-repeat;
}
.partners__body {
  max-width: 616px;
  margin: 0 auto;
  padding: 0 15px 105px 15px;
}
@media (max-width: 616px) {
  .partners__body {
    max-width: none;
  }
}
.partners__title {
  font-size: 30px;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 300;
  text-align: center;
  padding: 100px 0;
}
.partners__examples {
  max-width: 590px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.partners__image {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.contact {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 920px) {
  .contact {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .contact {
    max-width: none;
  }
}
.contact__title {
  padding: 183px 0 120px 0;
}
.contact__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact__leftside {
  -ms-flex-preferred-size: 383px;
      flex-basis: 383px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto 102px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact__headline {
  margin-bottom: 21px;
}
.contact__text {
  width: 100%;
  height: 35px;
  background-color: #f8f7f7;
  border-top: 1px solid #000;
}
.contact__text_large {
  resize: none;
  display: block;
  width: 100%;
  height: 118px;
  background-color: #f8f7f7;
  border-top: 1px solid #000;
  margin: 0 auto 42px auto;
}
.contact__credentials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contact__input {
  -ms-flex-preferred-size: 160px;
      flex-basis: 160px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 76px;
}
.contact__message {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}
.contact__submit {
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.contact__submit:hover {
  color: #5c5c5c;
}
.contact__rightside {
  margin: 0 auto 102px auto;
  padding-left: 15px;
}
.contact__prompt {
  max-width: 268px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
}
.contact__name {
  padding: 38px 0 24px 0;
  font-weight: 700;
}
.contact__socials {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-right: 12px;
  border: 2px solid #000;
  border-radius: 50%;
  width: 29px;
  height: 29px;
  padding: 6px;
  overflow: visible;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__email {
  padding-top: 16px;
}

.footer {
  background: #3c3c3c;
}
.footer__content {
  max-width: 265px;
  margin: 0 auto;
}
.footer__logo {
  padding: 48px 0 41px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__link {
  color: #a4a4a4;
}
.footer__link:hover {
  color: #6c6c6c;
}
.footer__copyright {
  color: #6c6c6c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 34px 0 49px 0;
}